.header__lang-link {
    color: white;
    margin-left: 18px;
    padding-bottom: 6px;
    text-decoration-line: none;
    min-height: 28px;
    min-width: 30px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    text-align: right;

}

.header__lang-link:hover {
    opacity: .3;
    text-decoration-line: underline;
}

.header__lang-link_active {
    text-decoration-line: underline;
}