.header__lang-link {
    color: white;
    padding-bottom: 6px;
    text-decoration-line: none;
    min-width: 30px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    text-align: right;
    margin-left: 18px;
}

.header__lang-link:hover {
    color: #E5E5E5;
    opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 559px) {
    .header__lang-link {
        width: 22px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        /* identical to box height, or 111% */
        text-align: right;
    }
}