.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
    margin: 92px auto;
    width: 1184px;
     /*border: white solid 5px;*/
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        width: 928px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 92px 48px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 0 auto;
    }
}
@media screen and (min-width: 560px) and (max-width: 767px) {
    .photo-grid {
        width: 560px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 0 auto;
    }
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .photo-grid {
        width: 288px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        margin: 64px 16px;
    }
}