.intro__box-list {
    width: 690px;
    list-style: none;
    padding: 0;
    margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .intro__box-list {
        width: 288px;
    }
}