.places {
    width: 984px;
    margin: 92px auto;
  /*  border: aliceblue solid 5px;*/
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places {
        width: 928px;
        margin: 0 48px 92px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        width: 720px;
        margin: 88px 24px;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 560px) and (max-width: 767px) {
    .places {
        width: 560px;
        margin: 66px auto;
    }
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .places {
        width: 320px;
        margin: 0;
        box-sizing: border-box;
    }
}