.place__image {
    width: 460px;
    max-height: 460px;
    /*background-size: cover;*/
    margin-top: 48px;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__image {
        width: 440px;
        height: 440px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__image {
        width: 340px;
        height: 340px;
    }
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .place__image {
        width: 100%;
        height: 320px;
        margin-top: 32px;
    }
}