.intro__list {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: white;
    margin: 0;
}

@media screen and (min-width: 560px) and (max-width: 767px) {
    .intro__list {
        width: 560px;
    }
}