.intro__list {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: white;
    margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .intro__list {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
    }
}