.place__right-column {
}

.place__right-column:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__right-column {
        width: 456px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__right-column {
        max-width: 352px;
    }
}
@media screen and (min-width: 560px) and (max-width: 767px) {
    .place__right-column {
        max-width: 260px;
    }
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .place__right-column {
        max-width: 320px;
        margin: 32px 16px 24px;
    }
}