.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 984px;
    max-height: 1005px;
    margin: 136px 148px 0;

   /* border: white solid 4px;*/
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead{
        width: 928px;
        height: 962px;
        margin: 48px 48px 0;
    }
}