.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 984px;
    margin: 56px auto 0;

   /* border: white solid 4px;*/
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead {
        width: 928px;
        margin: 48px 48px 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead {
        width: 768px;
        margin: 48px 0 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .lead {
        width: 320px;
        margin: 0 2px;
        box-sizing: border-box;
    }
}