.header {
   /* border: solid pink 4px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 52px;
    width: 1184px;
    padding: 28px 48px 0;
    margin: auto;
    background-color: #2A2C2F;
    box-sizing: border-box;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .header {
        width: 928px;
        min-height: 52px;
        padding: 28px 48px 0;
        margin: auto;
    }
}