.title_place_cover {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 76px;
    line-height: 76px;
    /* or 106% */

    text-align: center;

    max-width: 560px;
    min-height: 152px;
    margin: 245px auto 32px;
}

.title_place_cover:hover {
    opacity: 0.5;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .title_place_cover {
        margin: 195px 232px 32px;
    }
}