.title_place_cover {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 76px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    max-width: 560px;
    margin: 245px auto 32px;
}

.title_place_cover:hover {
    opacity: 1;
    color: white;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .title_place_cover {
        margin: 195px 232px 32px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .title_place_cover {
        margin: 115px 104px 32px;
    }
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .title_place_cover {
        font-size: 32px;
        line-height: 35px;
        margin: 33px 16px 18px;
        width: 288px;
    }
}