.title_place_place {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    max-width: 460px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .title_place_place {
        font-size: 42px;
        line-height: 46px;
        width: 340px;
    }
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .title_place_place {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        margin: 0 16px;
    }
}