.title_place_lead {
    margin: 0 auto 32px;
    width: 720px;
    min-height: 200px;

    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
}


@media screen and (min-width: 320px) and (max-width: 559px) {
    .title_place_lead {
        width: 288px;
        min-height: 88px;
        font-size: 40px;
        line-height: 44px;
        margin: 48px 16px 16px;
    }
}