.title_place_lead {
    margin: 0 auto 32px;
    width: 720px;
    min-height: 200px;

    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
}