.subtitle_place_lead {
    max-width: 640px;
    margin: 0 auto 64px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 559px) {
    .subtitle_place_lead {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }
}