.section-subtitle_place_intro {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .subtitle_place_intro {
        width: 288px;
]    }
}