.footer__link {
    min-width: 50px;
    min-height: 18px;
    color: white;
    list-style: none;
    text-decoration-line: none;
    margin: 0;
    margin-right: 18px;
    /*border: pink solid 3px;*/
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

}
.footer__link:last-child {
    margin-right: 0;
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .footer__link {
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        padding: 0;
        margin-bottom: 32px;
    }
}