.place__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;

    width: 100%;
    margin-top: 0;
    margin-bottom: 24px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}