.cover {
    width: 1184px;
    min-height: 740px;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    /*border: white solid 4px;*/
    margin: auto;
    box-sizing: border-box;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
        width: 1024px;
        min-height: 640px;
        margin: 0;
    }
}