.cover {
    width: 1184px;
    height: 740px;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*border: white solid 4px;*/
    margin: auto;
    box-sizing: border-box;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
        width: 1024px;
        height: 640px;
        margin: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        margin: 0;
        width: 768px;
        height: 480px;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .cover {
        margin: 64px 0 0;
        width: 320px;
        height: 200px;
    }
}