.cover {
    width: 1184px;
    min-height: 740px;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    border: white solid 4px;
    margin: auto;
}