.cover__overlay {
    width: 1184px;
    min-height: 740px;
    border: #2A2C2F solid 4px;
    background-color: rgba(42,44,47, .3);
    box-sizing: border-box;
}

.cover__overlay:hover {
    background-color: rgba(42,44,47, .8);
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__overlay {
        margin: 0;
        width: 1024px;
        min-height: 640px;
    }
}