.cover__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 1184px;
    height: 740px;
    background-color: rgba(42,44,47, .3);
    box-sizing: border-box;
}

.cover__overlay:hover {
    background-color: rgba(42,44,47, .8);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__overlay {
        margin: 0;
        width: 1024px;
        height: 640px;
        left: 0;
        top: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__overlay {
        margin: 0;
        width: 768px;
        height: 480px;
        left: 0;
        box-sizing: border-box;
        top: 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .cover__overlay {
        margin: 0;
        width: 320px;
        height: 200px;
        left: 0;
        top: 0;
    }
}