.lead__caption {
    color: white;
    width: 159px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0;
    padding-top: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}
@media screen and (min-width: 560px) and (max-width: 767px) {
    .lead__caption {
        margin-left: 18px;
    }

}
@media screen and (min-width: 320px) and (max-width: 559px) {
    .lead__caption {
        margin-left: 16px;
        font-size: 10px;
        line-height: 14px;
        /* identical to box height, or 140% */

        letter-spacing: 0.15em;
    }
}