.lead__caption {
    color: white;
    width: 159px;
    min-height: 14px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0;
    padding-top: 8px;
}