.place {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 984px;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 559px) {
    .place {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin-bottom: 48px;
    }
}
