.place {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 984px;
    max-height: 660px;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        max-height: 640px;
    }
}