.footer {
    display: flex;
    justify-content: space-between;
    padding: 92px 48px 24px;
    max-width: 1184px;
    min-height: 18px;
    background-color: #2A2C2F;
    /*border: white solid 3px;*/
    box-sizing: border-box;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        width: 928px;
        min-height: 18px;
        padding: 92px 48px 24px;
    }
}