.header__lang-links {
    width: 80px;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 559px) {
    .header__lang-links {
    }
}