.header__lang-links {
    width: 78px;
    min-height: 28px;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 559px) {
    .header__lang-links {
        padding-top: 22px;
    }
}